<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GET IMAGES TEST</title>
    <link href="{{ url_for('static', filename='styles/style.css') }}" rel="stylesheet" />
</head>

<body>
    <h1>welcom to home page</h1>
    <form action="/images">
        <input type="text" name="image_name" id="image_name" placeholder="Enter picture name "/>
        <button type="submit">Submit</button>
    </form>
    
</body>

</html>
